@model IEnumerable<ObligatorioMVC.Models.Carrera>

@{
    ViewBag.Title = "Lista";

}

<h2 style="color:darkred; font-family:Century"><b>Lista de Carreras</b></h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>        
    </tr>

    @foreach (var item in Model)
    {
        <tr>            
            <td>
                @item.Codigo
                @*@Html.DisplayFor(modelItem => item.Codigo)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>            
        </tr>
    }

</table>

